/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*Page styling*/
:root {
  --big-font: clamp(1.8rem, 4vmin, 6rem);
  --medium-font: clamp(1.3rem, 2.5vmin, 4rem);
  --small-font: clamp(1.1rem, 3.5vmin, 3rem);
}

.change-theme {
  margin-bottom: 2rem;
  font-size: var(--medium-font);
}

.react-component {
  font-size: var(--big-font);
}

.react-component-wrapper {
  border: 1px solid red;
}

.react-ts-component {
  font-size: var(--big-font);
}

.react-ts-component-wrapper {
  border: 1px solid blue;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
