---
import ReactComponent from './ReactComponent';
import ReactTypeScriptComponent from './ReactTypeScriptComponent';
import SvelteComponent from './SvelteComponent.svelte';
import VueComponent from './VueComponent.vue';
---

<div class='content-container'>
  <ReactComponent client:load />
  <ReactTypeScriptComponent client:load />
  <VueComponent client:load />
  <SvelteComponent client:load />
</div>

<style>
  .content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
  }
</style>
